# pnpm 설정
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

# Node.js 버전 설정
engine-strict=true

# 로그 레벨
loglevel=warn
